/* Estilo para el contenedor del campo de imagen */
.image-upload-container {
    position: relative;
  }
  
  /* Estilo para el botón de carga de la imagen */
  .image-upload-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Estilo para ocultar el input de archivo por defecto */
  .input-file {
    display: none;
  }